{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">data table</h3>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                <tr>
                    <th>Movie id</th>
                    <th>Name</th>
                    <th>Director</th>
                    <th>Release Date</th>
                    <th>Average Rating</th>
                    <th>Collections(in Crores.)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr-shadow">
                    <td>10001231</td>
                    <td class="desc">
                        <a href="/imdb/movie/1/">Baahubali</a>
                    </td>
                    <td class="desc">
                        <a href="/imdb/director/1/">SS Rajamouli</a>
                    </td>
                    <td>2018-09-27</td>
                    <td>
                        <span class="status--high">9.1</span>
                    </td>
                    <td>679.00₹</td>
                    <td>
                        <div class="table-data-feature">
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit"
                                        class="item"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

{% endblock %}